@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "PT Sans";
  font-size: 24px;
  text-align: center;
  margin: 0;
  overflow: overlay;
  background-image: url("/img/background-tile-1-dark85.png");
  color: white;
  background-position: -30px top;
}

a {
  color: #00eee2;
}

/* .text-on-bg p, .text-on-bg h1, .text-on-bg h2, .text-on-bg h3, h1 {
  background-color: rgba(7, 7, 7, 0.685);
  color: rgba(255, 255, 255, 0.74);
} */

nav {
  background-color: rgb(71, 213, 252);
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 0px 10px 0px black;
}

.nav-links {
  position: relative;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  margin: 0 3%;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.nav-links a:hover {
  color: blue;
  box-shadow: 0px 2px 0px 0px blue;
}

.nav-current-page {
  box-shadow: 0px 2px 0px 0px black;
}
.nav-current-page:hover {
  color: blue;
  box-shadow: 0px 2px 0px 0px blue;
}

.main-header {
  text-decoration: underline;
}

.download-btn {
  display: inline-block;
  background-color: limegreen;
  padding: 20px;
  color: black;
  text-decoration: none;
  transition-duration: 0.2s;
  margin: 5px 1px;
}
.download-btn:hover {
  background-color: green;
}
.small-text {
  font-size: large;
}

.downloads-other-box {
  background-color: rgb(215, 215, 215);
  margin: 0px 15%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 gray;
  text-align: left;
  color: black;
}
.downloads-other-box a {
  color: #0000ee;
}
.about-text {
  margin: 0 10%;
}
.game-guide-main {
  text-align: left;
  margin: 0 15%;
  background-color: rgb(215, 215, 215);
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 gray;
  color: black;
}
.game-guide-main h2 {
  margin: 0 0 10px 0;
}
.game-guide-main p {
  margin: 0 35px;
}
.game-guide-main a {
  color: #0000ee;
}
.game-guide-main ul, ol {
  margin: 5px 60px;
}
code {
  background-color: rgb(187, 187, 187);
  padding: 0px 5px;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
 }